<div class="dropdown">
    <a
        class="nav-link dropdown-toggle text-white"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
    >
        Categories
    </a>
    <ul class="dropdown-menu">
        {% for category in categories %}
        <li key="{{ category.name }}">
            <a href="/category/{{ category.slug }}" class="dropdown-item">
                {{ category.name }}
            </a>
            <hr class="dropdown-divider" />
        </li>
        {% endfor %}
    </ul>
</div>
